{
  "ExternalCommands": [
    {
      "External_Command_ID": "Start",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Idle_ChromaLink",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Headset",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Keyboard",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Keypad",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Mouse",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Mousepad",
          "Idle": "set"
        }
      ]
    },
    {
      "External_Command_ID": "idle",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Idle_ChromaLink",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Headset",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Keyboard",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Keypad",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Mouse",
          "Idle": "set"
        },
        {
          "Chroma_Effect": "Idle_Mousepad",
          "Idle": "set"
        }
      ]
    },
    {
      "External_Command_ID": "unset_idle",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Idle_ChromaLink",
          "Idle": "unset"
        },
        {
          "Chroma_Effect": "Idle_Headset",
          "Idle": "unset"
        },
        {
          "Chroma_Effect": "Idle_Keyboard",
          "Idle": "unset"
        },
        {
          "Chroma_Effect": "Idle_Keypad",
          "Idle": "unset"
        },
        {
          "Chroma_Effect": "Idle_Mouse",
          "Idle": "unset"
        },
        {
          "Chroma_Effect": "Idle_Mousepad",
          "Idle": "unset"
        }
      ]
    },
    {
      "External_Command_ID": "clear_idle",
      "Chroma_Events": [
        {
          "Chroma_Effect": "",
          "Idle": "none"
        }
      ]
    },
    {
      "External_Command_ID": "play_animation",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Play animation - oneshot_ChromaLink"
        },
        {
          "Chroma_Effect": "Play animation - oneshot_Headset"
        },
        {
          "Chroma_Effect": "Play animation - oneshot_Keyboard"
        },
        {
          "Chroma_Effect": "Play animation - oneshot_Keypad"
        },
        {
          "Chroma_Effect": "Play animation - oneshot_Mouse"
        },
        {
          "Chroma_Effect": "Play animation - oneshot_Mousepad"
        }
      ]
    },
    {
      "External_Command_ID": "play_animation_nointerrupt",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Play animation - oneshot - nointerrupt_ChromaLink",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Play animation - oneshot - nointerrupt_Headset",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Play animation - oneshot - nointerrupt_Keyboard",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Play animation - oneshot - nointerrupt_Keypad",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Play animation - oneshot - nointerrupt_Mouse",
          "Interrupt": false
        },
        {
          "Chroma_Effect": "Play animation - oneshot - nointerrupt_Mousepad",
          "Interrupt": false
        }
      ]
    },
    {
      "External_Command_ID": "play_animation_loop",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Play animation - looping_ChromaLink",
          "Loop": "infinity"
        },
        {
          "Chroma_Effect": "Play animation - looping_Headset",
          "Loop": "infinity"
        },
        {
          "Chroma_Effect": "Play animation - looping_Keyboard",
          "Loop": "infinity"
        },
        {
          "Chroma_Effect": "Play animation - looping_Keypad",
          "Loop": "infinity"
        },
        {
          "Chroma_Effect": "Play animation - looping_Mouse",
          "Loop": "infinity"
        },
        {
          "Chroma_Effect": "Play animation - looping_Mousepad",
          "Loop": "infinity"
        }
      ]
    },
    {
      "External_Command_ID": "play_animation_loop_nointerrupt",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Play animation - looping - nointerrupt_ChromaLink",
          "Interrupt": false,
          "Loop": "infinity"
        },
        {
          "Chroma_Effect": "Play animation - looping - nointerrupt_Headset",
          "Interrupt": false,
          "Loop": "infinity"
        },
        {
          "Chroma_Effect": "Play animation - looping - nointerrupt_Keyboard",
          "Interrupt": false,
          "Loop": "infinity"
        },
        {
          "Chroma_Effect": "Play animation - looping - nointerrupt_Keypad",
          "Interrupt": false,
          "Loop": "infinity"
        },
        {
          "Chroma_Effect": "Play animation - looping - nointerrupt_Mouse",
          "Interrupt": false,
          "Loop": "infinity"
        },
        {
          "Chroma_Effect": "Play animation - looping - nointerrupt_Mousepad",
          "Interrupt": false,
          "Loop": "infinity"
        }
      ]
    },
    {
      "External_Command_ID": "stop_animation",
      "Chroma_Events": [
        {
          "Chroma_Effect": "Play animation - looping_ChromaLink",
          "Stop_Animation": true
        },
        {
          "Chroma_Effect": "Play animation - looping_Headset",
          "Stop_Animation": true
        },
        {
          "Chroma_Effect": "Play animation - looping_Keyboard",
          "Stop_Animation": true
        },
        {
          "Chroma_Effect": "Play animation - looping_Keypad",
          "Stop_Animation": true
        },
        {
          "Chroma_Effect": "Play animation - looping_Mouse",
          "Stop_Animation": true
        },
        {
          "Chroma_Effect": "Play animation - looping_Mousepad",
          "Stop_Animation": true
        }
      ]
    },
    {
      "External_Command_ID": "stop_category",
      "Chroma_Events": [
        {
          "Chroma_Effect": "",
          "Stop_Category": "ChromaLink"
        },
        {
          "Chroma_Effect": "",
          "Stop_Category": "Headset"
        },
        {
          "Chroma_Effect": "",
          "Stop_Category": "Keyboard"
        },
        {
          "Chroma_Effect": "",
          "Stop_Category": "Keypad"
        },
        {
          "Chroma_Effect": "",
          "Stop_Category": "Mouse"
        },
        {
          "Chroma_Effect": "",
          "Stop_Category": "Mousepad"
        }
      ]
    },
    {
      "External_Command_ID": "stop_all",
      "Chroma_Events": [
        {
          "Chroma_Effect": "",
          "Stop_All": true
        }
      ]
    }
  ]
}